---
title: 2020 Cover Songs
---

<h1>2020 Cover Songs</h1>

<p>My one goal for the 2020 is to record one cover song every week.</p>

<h3>Week 10 <small>March 14, 2020</small></h3>

<h2>Meet Me in the Woods - Lord Huron</h2>

<p><a href="https://www.dropbox.com/s/o5q18okeczqvk3e/Meet%20Me%20in%20the%20Woods.mp3?dl=0">Meet Me in the Woods.mp3</a></p>

<iframe src="https://open.spotify.com/embed/track/1bqrRn1pJWowNLA5N9L6uW" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<hr>


<h3>Week 9 <small>March 7, 2020</small></h3>

<h2>High and Dry - Radiohead</h2>

<p><a href="https://www.dropbox.com/s/t2xusibos1l1n00/High%20and%20Dry.mp3?dl=0">High and Dry.mp3</a></p>

<iframe src="https://open.spotify.com/embed/track/5jafMI8FLibnjkYTZ33m0c" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<hr>


<h3>Week 8 <small>February 29, 2020</small></h3>

<h2>Skinny Love - Bon Iver</h2>

<p><a href="https://www.dropbox.com/s/nmbtlqtn0l5ic4z/Skinny%20Love.mp3?dl=0">Skinny Love.mp3</a></p>

<iframe src="https://open.spotify.com/embed/track/2cbic3TiUENlJX91y67ARR" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<hr>

<h3>Week 7 <small>February 22, 2020</small></h3>

<h2>Amsterdam - Gregory Alan Isakov</h2>

<p><a href="https://www.dropbox.com/s/ooazbda1t2smlzi/Amsterdam.mp3?dl=0">Amsterdam.mp3</a></p>

<iframe src="https://open.spotify.com/embed/track/7iQmjnDXYngWGsbjVnDc1U" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<hr>

<h3>Week 6 <small>February 15, 2020</small></h3>

<h2>No One’s Gonna Love You - Band of Horses</h2>

<p><a href="https://www.dropbox.com/s/rzi80em4uxln0df/No%20Ones%20Gonna%20Love%20You.mp3?dl=0">No One’s Gonna Love You.mp3</a></p>

<iframe src="https://open.spotify.com/embed/track/0b1Vajse5stBtGv8WOtvm1" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<br>

<h3>Notes</h3>

<p>Ugh, not much time to do a good job this week. :( </p>

<hr>

<h3>Week 5 <small>February 8, 2020</small></h3>

<h2>Such Great Heights - Iron &amp; Wine (originally by The Postal Service)</h2>

<p><a href="https://www.dropbox.com/s/cdk8pwcpkcqxhwl/Such%20Great%20Heights.mp3?dl=0">Such Great Heights.mp3</a></p>

<p>Iron &amp; Wine version:</p>

<iframe src="https://open.spotify.com/embed/track/6kLqKntp2x4QVXHwqLHMYm" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<p>The Postal Service original:</p>

<iframe src="https://open.spotify.com/embed/track/27LyQFdQbui4TnRs05cZ8C" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<br>

<h3>Notes</h3>

<p>Like many songs I'm attempting to cover, I have a deep attachment to this song, both in it's original form by The Postal Service, and in it's reinterpretation by Iron &amp; Wine. And for that reason, it's tempting to avoid covering the song for fear of not doing it justice. But as Chesterton has said, "Anything worth doing is worth doing badly."</p>

<h3>Week 4 <small>February 1, 2020</small></h3>

<h2>Wasted Mind – Susto</h2>

<p><a href="https://www.dropbox.com/s/mn6na6qxqcmehuw/Wasted%20Mind.mp3?dl=0">Wasted Mind.mp3</a></p>

<iframe src="https://open.spotify.com/embed/track/1LEeE5cFVukHvcx9uCy4xt" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<br>

<h3>Notes</h3>

<p>So far, the new year has been extremely busy. Most weeks I'm doing all my practice and recording on Saturday. This week I hadn't even picked a song until Saturday around 11am. And, although I've listened to this particular song many times, I don't think I'd even tried to play it before.</p>

<p>I'm finding that the more I go through and analyze a song ahead of time, the better the recording goes. Last week I realized that it's best to setup an Arrangement Track in GarageBand ahead of time, with the exact number of measures for Intro, Verse, Chorus, Bridge, etc. This helps me a lot in the production process.</p>

<p>Like last week, I decided to try to loop the guitar part, but I had a harder time making it sound good. And honestly, I just need to get better at guitar. It's hard to play a song all the way through with no mistakes. Given my tight time constraints, looping can save me time. What I missed when I sat down to record was that the chord progression for the chorus is different from that of the rest of the song. I recorded guitar first, switched to vocals, and then had to back-track to record the guitar chorus. And since the mic setup was slightly different, the sound difference was noticable. Next time I'll be more careful.</p>

<p>Also, I hate the faded intro and outro on my recording. I really like the original, but just ran out of time.</p>

<p>Vocals were okay, but I hadn't practiced this song enough, and it showed. Some of the wording was a little tricky, so this could have been better.</p>

<p>Also, I need to get better at playing B chords on the guitar. Getting my ring finger to flex enough has always been a struggle.</p>

<hr>

<h3>Week 3 <small>January 25, 2020</small></h3>

<h2>Fossil in Stone – Charm of Finches</h2>

<p><a href="https://www.dropbox.com/s/gia3x01ntlwonqo/Fossil%20In%20Stone.mp3?dl=0">Fossil in Stone.mp3</a></p>

<iframe src="https://open.spotify.com/embed/track/68osFgUgmfAEmnBxOLGDUE" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<br><br>

<hr>

<h3>Week 2 <small>January 18, 2020</small></h3>

<h2>My Winding Wheel – Ryan Adams</h2>

<p><a href="https://www.dropbox.com/s/k641bmp8ypde47c/My%20Winding%20Wheel.mp3?dl=0">My Winding Wheel.mp3</a></p>

<iframe src="https://open.spotify.com/embed/track/2xogiMuoVDFDKpxgZpmPfQ" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<br><br>

<hr>

<h3>Week 1 <small>January 11, 2020</small></h3>

<h2>So On, Nevada – Damien Jurado</h2>

<p><a href="https://www.dropbox.com/s/un50uk1k7pxhj4b/So%20On%2C%20Nevada.mp3?dl=0">So On, Nevada.mp3</a></p>

<iframe src="https://open.spotify.com/embed/track/3HnnrdWoGAxZKFvQwGEgmF" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
