---
title: Notes from “The Shape of Design”
date: 2015-03-25 18:30 UTC
tags:
---

<figure data-orig-width="150" data-orig-height="231" style="float:right;"><a href="http://shapeofdesignbook.com/"><%= image_tag "blog/tumblr_inline_nls3kvI5T91qz7n3m_500.jpg" %></a></figure>

I recently finished reading <a href="http://shapeofdesignbook.com/">The Shape of Design</a>, by one of my favorite designers and writers, Frank Chimero.

Here are my favorite quotes from the book:

> The relationship between form and purpose  –  How and Why  –  is symbiotic. But despite this link, Why is usually neglected, because How is more easily framed. It is easier to recognize failures of technique than those of strategy or purpose, and simpler to ask “How do I paint this tree?” than to answer “Why does this painting need a tree in it?” The How question is about a task, while the Why question regards the objective of the work. If an artist or designer understands the objective, he can move in the right direction, even if there are missteps along the way. But if those objectives are left unaddressed, he may find himself chasing his own tail, even if the craft of the final work is extraordinary.

As a designer, I think I ask “why?” more than anything else. I ask it so much, I sometimes want to apologize to my clients. But I can’t just leave it. I must know what the purpose is. Sometimes clients have a perfectly well-formulated purpose and my asking “why?” exposes it. But, more often than not, they can’t articulate the purpose. This often leads to a kind of discomfort in the relationship. But that discomfort is necessary for us to produce good work together.

<hr>

> We all bask in the presence of beauty, because there is a magical aura to high craft. It says, “Here is all we’ve got. This is what humankind is capable of doing, with every ounce of care and attention wrung out into what’s before you.” Craft is a love letter from the work’s maker.

This idea of “craft is a love letter” resonates with me. People ask me why I want to get better at my craft. Am I trying to become famous? Am I trying to be better than everyone else? I don’t think it’s that. I think it’s more that I’ve been on the receiving end of great love letters of craft and I’d like to be able to offer my own to the world.

<hr>

> Criticism has a crucial role in the creative process, but its rigor should match the heartiness of the ideas, which become stronger as they develop. The more real an idea becomes, the less suspension of disbelief is required, and the more criticism it should withstand. But all ideas, both good and bad, start young and fragile.

This is great advice on how to balance critique with idea generation. At the beginning, ideas must be nurtured. At the end, they must be stress-tested. You can’t stress-test an infant idea — you’ll lose both the idea and the space to produce more like it.

<hr>

> Sometimes the results of graceful rethinking can be thought of as magic, because it produces something we previously thought to be impossible. It subverts the established ways of working, either through sheer talent or brute force, and questions the standard settings of the three levers. Magicians don’t just create new things, they invent new ways of doing so, and these new methods only appear from intense analysis of the assumptions about their work. The products of the process are contrarian by nature as a result, because the maker is exploring a terrain no one else has been able to realize. Laid bare in his work is an example of how craft and art grow, how they serve as an example of a new possibility.

This is the ground delight springs from. There’s always an established, straightforward way. But the unexpected way feels like magic because it couldn’t be anticipated ahead of time, but as soon as it’s revealed, we it fits perfectly. Like a good joke.

<hr>

> It’s easy to think that the way to improve life is to iterate on the things that we already have, but that is a trap of limited imagination. We should be iterating on how we answer our needs, and not necessarily on the way our old solutions have taken shape.

This is a good way of explaining the problem behind <a href="http://52weeksofux.com/post/694598769/the-local-maximum">local maximum</a>.

<hr>

> The point of speaking, and likewise creating, is to have someone there to receive. The results of our efforts must move toward others; similarly, design must move to be effective, whether by filling needs or communicating with an audience. It should move like a provocative word: out, and then around. One set of hands makes the work, then it passes to another to use. The presence of the audience is what imbues the designer’s work with its worth.

Design is never for myself. There must be a recipient.

<hr>

> Design can speak the tongue of art with the force of commerce.

This may be my favorite definition of the ideal of design. It lives in two worlds and carries the power of both in a unique way.

<hr>

> Designers should do the same with the frameworks they produce. They should begin by setting good restrictions that act as suggestions, but then step out of the way to see where the audience takes those purposeful limitations. Stepping out of the way requires a new way of thinking, because the designer can no longer command the whole ecosystem of the work if others are contributing.<br>

As a web designer, this is one of my greatest desires. To create web products that offer a framework with just the right amount of constraint, that an audience can embrace the form and find a powerful way to use it that I could never have anticipated ahead of time.

<hr>

> ...the things we make transcend commerce and ownership – they are an experience to have rather than an object to own or a service to access.

I think this is especially true of ephemeral software products and services. They are always changing, they will not last forever in their current state, they cannot be contained or preserved. So the experience of their use is the thread running through everything and tying it together.

<hr>

> Regardless of where our talents and tendencies come from, the gift of the individual is an assignment: their talents must be used to sing a song of their own. Their personal gift is made good through their labor, and the gift is passed on to others through the work they produce. We feel an obligation to use our natural resources to build and make, to mold and shape the world around us for the betterment of others.

This is a high calling. Frank does a great service to design, and work in general, by showing us it’s dignity.

<hr>

> And perhaps the line between thoughtfully buying a gift and just giving the money to someone relates to the reason why so many creative individuals feel it necessary to do things the long, hard, stupid way. To merely work within the boundaries of financial concerns and not maximize one’s creative capacity is to give someone the cash. Singing a song of our own while we make our work uses the full capacity of the creative person to create new value and something of consequence. There is a contribution greater than just the commercial concern; there is a human investment of talent, perspective, and perseverance.

Great design is a gift. Great design work seeks something beyond remuneration. It offers something to it’s recipient without the expectation of reward. The designer’s reward is having had the ability to honor the recipient, in having given something worth more than their compensation.

Frank, thanks for the gift of this book.
