/* base styles */

body {
  background-color:#fff;
  font-family:rooney-web-1, rooney-web-2, Georgia, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em; /* 16/16 */
  line-height: 1.714285714285714em; /* 24/14 */
  color:#2f0a0a;
  min-height:100%;
}

a {
  -moz-transition: color .25s linear;
  -o-transition: color .25s linear;
  -webkit-transition: color .25s linear;
  transition: color .25s linear;
  text-decoration: none;
  border-bottom: 1px solid #d8dfe6;
}

a:link {
  color: #46bad3;
}
a:visited {
  color: #38a5bc;
}
a:hover {
  color: #58cfe9;
}

h1 {
  font-family:franklin-gothic-urw-1, franklin-gothic-urw-2, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style:normal;
  font-size:1.625em; /* 26/14 */
  line-height:1.153846153846154em; /* 30/26 */
  margin: 0 0 10px 0;
  color:#d34343;

  a {
    border: 0;
  }
}

h2 {
  font-family:franklin-gothic-urw-1, franklin-gothic-urw-2, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style:normal;
  font-size:1.375em; /* 20/14 */
  font-size:20px;
  line-height:1.2em; /* 24/20 */
  margin:0;
  color:#d34343;
}

h3 {
  font-family:franklin-gothic-urw-1, franklin-gothic-urw-2, Helvetica, Arial, sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:1.125em; /*18/14*/
  line-height:1.111111111111111em; /*20/18*/
  margin:0;
}

h4 {
  font-size:1em; /*16/14*/
  font-weight:normal;
  line-height:1.428571428571429em; /*20/14*/
  margin:0;
}

p {
  margin: 0 0 1.285714285714286em 0; /*18/14*/
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

cite, small {
  font-size: 0.857142857142857em; /*12/14*/
}

strong, th, label {
  font-family: rooney-web-1, rooney-web-2, Georgia, serif;
  font-weight: 700;
  font-style: normal;
}

em {
  font-family: rooney-web-1, rooney-web-2, Georgia, serif;
  font-weight: 300;
  font-style: italic;
}

blockquote {
  padding: 0 0 0 1em;
  margin: 0 0 1em 1em;
  border-left: 1px dashed #b2b2b2;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.25em;
  margin: 0 0 1em 0; /*12/12*/
  width: 100%;
}

ol {
  margin: 0 0 1em 2em;
  list-style-type: decimal;
}

ul {
  margin: 0 0 1em 1em;
}

hr {
  border: 0;
  height: 1px;
  background-color: #d8dfe6;
  margin: 0 0 1.285714285714286em 0; /*18/14*/
}

input[type="text"], textarea {
  background-color:#fff;
  border-radius: 1px 1px 1px 1px;
  border:1px solid #b3b3b3;
  -webkit-box-shadow: inset 0 0 3px 1px #f2f2f2;
  box-shadow: inset 0 0 3px 1px #f2f2f2;
  font-family:Helvetica, Arial, sans-serif;
  font-size:1em;
  padding:2px 4px;
  margin:4px 4px 4px 0;
}

input[type="text"]:focus, textarea:focus {
  -webkit-box-shadow: inset 0 0 3px 1px #f2f2f2, 0 0 0 3px rgba(227, 143, 65, 0.2);
  box-shadow: inset 0 0 3px 1px #f2f2f2, 0 0 0 3px rgba(227, 143, 65, 0.2);
  outline: none;
}

select:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(227, 143, 65, 0.2);
  box-shadow: 0 0 0 2px rgba(227, 143, 65, 0.2);
  outline: none;
}

input[type="submit"] {
    background-color:#e0e0e0;
    border: 1px solid #b8b9b8;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075), inset -3px -3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075), inset -3px -3px 3px rgba(0, 0, 0, 0.1);
    color: #444;
    font-family:"Trade Gothic W01 Roman",Helvetica, Arial, sans-serif;
    font-size:1.15em;
    line-height:1;
    padding: 2px 4px;
    text-shadow: 0 1px 1px #fff;
    margin:4px 4px 4px 0;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  -webkit-box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.05), 0 0 0 3px rgba(227, 143, 65, 0.2);
  box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.05), 0 0 0 3px rgba(227, 143, 65, 0.2);
  outline:none;
}

input::-moz-focus-inner {
  border: 0;
}

input[type="submit"]:active {
  -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
}