<% wrap_layout :application do %>
  <h1><%= link_to current_article.title, current_article.path %></h1>

  <%= yield %>

  <p class="meta">
    Posted
    <%= link_to current_article.date.strftime("%B %e, %Y at %l:%M %P"), current_article.path %>
  </p>
<% end %>
