---
title: Grading Our Art
date: 2013-09-20 10:25 UTC
tags: personal
---

My 7 year-old is an artist. This girl spends hours a day drawing, painting, finger knitting, making plastic bead mosaics, creating wands and kites out of construction paper.

But she’s reaching a point where her eye is more developed than her hand, where she can critique better than she can produce. It’s at this point that most kids stop being artists.

I was cleaning up her room today and found this on her floor.

<%= image_tag "blog/tumblr_inline_mtfh8v3whg1qz7n3m.jpg" %>

Certainly, I can tell you, this is not her best work. But why the need to cross out a poor drawing and write “X Bad”? We <a href="/post/61411200697/how-to-homeschool-your-kids-with-a-full-time-job">homeschool our kids</a> and don’t give grades, so I don’t think she even knows what an “F” is. But if she did, she probably would have written that.

“X Bad”

“F Failure”

There’s a real, emotional pain that comes from not being able to actualize what we envision. This pain makes kids quit drawing and keeps adults from ever attempting. When we produce something of low quality, this pain compels us to distance ourselves from our own work by destroying it, or worse, grading it. Even if no one else ever sees it, we’ve at least told ourselves that this is unacceptable. And if anyone ever does see it, we’ve already passed judgement and anything they may say will only be in agreement with what we’ve already said.

But this feeds the critic in us and starves the artist. Eventually, the artist is too weak to produce anything and the critic, emboldened, takes command. Everyone’s a critic because everyone fed their critic and starved their artist.

There are geniuses and there are prodigies. But for the rest of us, we get good at what we practice. We must suspend the critic and push through the pain of poor work. We do this through hope and joy. Hope that we are making progress, hope that we can one day actualize what we envision. And joy in the act of creation, even creation that is less than perfect. Because it always will be.

I’ll be reminding my daughter of this. I’ll remind her that she is an artist until she chooses not to be.

Because when it comes to art-making, we pronounce our own failure.
