<aside>
  <div class="jeremy"></div>

  <h3>Email</h3>
  <a href="mailto:jeremy@bentoncreation.com" class="email">jeremy@bentoncreation.com</a>

  <h3>Find me elsewhere</h3>
  <a href="https://dribbble.com/bentoncreation" class="dribbble">Dribbble</a>
  <a href="https://twitter.com/bentoncreation" class="twitter">Twitter</a>
  <a href="https://github.com/bentoncreation" class="github">Github</a>
  <a href="https://www.linkedin.com/in/bentoncreation" class="linkedin">LinkedIn</a>

</aside>

<article>
  <h1>What you should know about me</h1>

  <p>I’m a web designer/developer currently living in Greenville, SC with my wife and three kids. We’re a homeschool family, and we’re all learning together. I love Jesus, my family, indie music, bikes, books, movies and the web. I don’t care for board games, theme parks, watching baseball, shopping or small talk.</p>

  <h2>My work</h2>

  <p>I fell in love with the web in the mid-ninties while I was still in my teens and have been building web sites and applications ever since. For better or worse, I’ve chosen the path of a web generalist, with one foot in design and the other in development, because I love being involved in the entire creative process. <a href="/work">See my work</a></p>

  <h2>My mission</h2>

  <ol>
    <li>Build web products that delight my customers.</li>
    <li>Never stop perfecting my craft.</li>
    <li>Affect positive change in the organizations I work with.</li>
    <li>Participate in, and give back to, the web community.</li>
  </ol>
</article>
