<% blog("ruby").articles.each do |article| %>
  <div class="post">
    <h1><%= link_to article.title, article.path %></h1>

    <%= article.summary %>

    <p><%= link_to 'Read more…', article.path %></p>

    <p class="meta">
      Posted
      <%= link_to article.date.strftime("%B %e, %Y at %l:%M %P"), article.path %>
    </p>
  </div>
<% end %>
