---
title: Work
---

<h1>Work</h1>

<p>I’ll be adding details about my work as I have time. Here are some of the things I’ve worked on over the past couple years.</p>

<ul>
  <li>Upgraded multiple Rails 3 applications to Rails 4</li>
  <li>Developed Ruby ETL application</li>
  <li>Designed GriefShare Labs marketing website</li>
  <li>Transformed several distinct websites into a single multi-tenant Rails application with SSO</li>
  <li>Redesigned DivorceCare website</li>
  <li>Designed and continue to publish a weekly newsletter for urban homesteaders</li>
  <li>Upgraded multiple Rails 2 applications to Rails 3</li>
  <li>Ported a daily email subscription application to Rails</li>
  <li>Designed and developed social network for urban homesteaders</li>
  <li>Designed landing page and UI concept for homeschool scheduling app</li>
  <li>Designed DivorceCare Labs marketing website</li>
</ul>
